.PaysageCardContainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    width: 100%;
    height: 100%;
    position: relative;
    cursor: pointer;
}

.PaysageImage{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    z-index: -11;
}

.PaysageBlockContent{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    text-align: start;
    width: 100%;
    height: 100%;
}

.PaysageWrap{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
    border-top: 1px solid gray;
    padding-top: 2em;
}

.PaysageTitle{
    color: white;
    font-weight: 700;
    font-size: 1.3vw;
    margin-bottom: 0.5em;
}

.PaysageDescription{
    color: white;
    margin-bottom: 0.5em;
    font-weight: 300;
    font-size: 1vw;
}

.PaysageReadStory{
    color: white;
    font-size: 1.2vw;
    font-weight: 700;
}

.PaysageWrapper{
    margin-bottom: 1em;
    width: 90%;
}
.PaysageTopTitle{
    color: white;
}

@media (min-width:1024px){
    .PaysageCardContainer:hover{
        transform: translateY(-50px);
        border-bottom: 10px solid linear-gradient(180deg, #FFC593 0%, #BC7198 100%);
        transition: all 0.3s ease-in-out;
    }
}

@media (max-width:1024px) and (min-width:768px){
    .PaysageReadStory{
        font-size: 2.5vw;
    }

    .PaysageTitle{
        font-size: 2.7vw;
    }
    .PaysageDescription{
        font-size: 2vw;
    }
}

@media (max-width:768px){
    .PaysageReadStory{
        font-size: 4vw;
    }

    .PaysageTitle{
        font-size: 4.5vw;
    }
    .PaysageDescription{
        font-size: 3.5vw;
    }
}